.container-1400 {
    max-width: 1496px;
    margin: auto;
}
body{
    /* background: url('/assets/images/Blue-circle-background-2.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
p {
    margin-bottom: 0;
}